<div class="container mt-5">
  <div class="container items-center justify-center">
    <div class="dots d-flex justify-content-center mb-3">
      <span
        [ngStyle]="{ backgroundColor: fillingDot_1 ? 'navy' : null }"
        class="mx-2 border border-primary rounded-circle"
      ></span>
      <span
        [ngStyle]="{ backgroundColor: fillingDot_2 ? 'navy' : null }"
        class="mx-2 border border-primary rounded-circle"
      ></span>
      <span
        [ngStyle]="{ backgroundColor: fillingDot_3 ? 'navy' : null }"
        class="mx-2 border border-primary rounded-circle"
      ></span>
      <span
        [ngStyle]="{ backgroundColor: fillingDot_4 ? 'navy' : null }"
        class="mx-2 border border-primary rounded-circle"
      ></span>
    </div>
    <div class="">
      <div class="row justify-content-center">
        <button
          class="rounded-circle border-primary col-auto"
          data-key="1"
          (click)="btnClicked($event)"
        >
          1
        </button>
        <button
          class="rounded-circle border-primary col-auto"
          data-key="2"
          (click)="btnClicked($event)"
        >
          2
        </button>
        <button
          class="rounded-circle border-primary col-auto"
          data-key="3"
          (click)="btnClicked($event)"
        >
          3
        </button>
      </div>
      <div class="row justify-content-center">
        <button
          class="rounded-circle border-primary col-auto"
          data-key="4"
          (click)="btnClicked($event)"
        >
          4
        </button>
        <button
          class="rounded-circle border-primary col-auto"
          data-key="5"
          (click)="btnClicked($event)"
        >
          5
        </button>
        <button
          class="rounded-circle border-primary col-auto"
          data-key="6"
          (click)="btnClicked($event)"
        >
          6
        </button>
      </div>
      <div class="row justify-content-center">
        <button
          class="rounded-circle border-primary col-auto"
          data-key="7"
          (click)="btnClicked($event)"
        >
          7
        </button>
        <button
          class="rounded-circle border-primary col-auto"
          data-key="8"
          (click)="btnClicked($event)"
        >
          8
        </button>
        <button
          class="rounded-circle border-primary col-auto"
          data-key="9"
          (click)="btnClicked($event)"
        >
          9
        </button>
      </div>
    </div>
  </div>
</div>
